@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme inline {
  --color-primary: var(--color-teal-700);
  --color-primary-fg: var(--color-neutral-50);
  --color-primary-alt: color-mix(in oklab, var(--color-primary) 20%, transparent);

  --color-error: var(--color-red-400);
  --color-error-fg: var(--color-red-700);
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #020202;
  background-image:
    linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000),
    linear-gradient(-45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000);
  background-size: min(10vw, 100px) min(10vw, 100px);
  background-repeat: repeat;
}

:focus-visible:not(.outline-none) {
  outline-width: calc(var(--spacing) / 2);
  outline-style: solid;
  outline-color: var(--color-primary);
}